services:
  web:
    build: .
    ports:
      - "43080:80"
    restart: unless-stopped
    env_file:
      - .env.production
    environment:
      - RAILS_ENV=production
      - RAILS_MASTER_KEY=${RAILS_MASTER_KEY}
      - SOLID_QUEUE_IN_PUMA=1
    volumes:
      - type: bind
        source: ./storage
        target: /rails/storage
